@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  background-color: #242424;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
}
.content-container {

    width: 700px;
    background-color: white;
    border-radius: 20px;
    display: flex;
}

.intro-container {
  width: 350px;
  
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  color: hsl(235, 18%, 26%);
  display: flex;
  flex-direction: column;
}

.info-text {
  margin-top: 40px;
}

.info-text2,
.info-text3,
.info-text {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.form-container {
  margin: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
input[type="email"] {
  height: 25px;
  padding: 10px 10px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: hsl(235, 18%, 26%);
  color: #fff;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 45px;
  font-weight: 700;
  transition: all ease 0.3s;
}
button[type="submit"]:hover {
  background-color: hsl(4, 100%, 67%);
  
}


